<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= name %> - <%= version %></title>
    <script src="openmct/openmct.js"></script>
    <link rel="icon" type="image/png" href="openmct/favicons/favicon-96x96.png" sizes="96x96" type="image/x-icon">
    <link rel="icon" type="image/png" href="openmct/favicons/favicon-32x32.png" sizes="32x32" type="image/x-icon">
    <link rel="icon" type="image/png" href="openmct/favicons/favicon-16x16.png" sizes="16x16" type="image/x-icon">

    <script src="static/lib/http.js"></script>
    <% if (locals.plugins) { %>
    <% for (var plugin in plugins) { %>
        <% if (plugins[plugin].client) { %><script src="<%= plugins[plugin].client %>"></script><% } %>
    <% } %>
    <% } %>
</head>
<body>
    <script>
        const FIVE_MINUTES = 5 * 60 * 1000;	
        const FIFTEEN_MINUTES = 15 * 60 * 1000;
        const THIRTY_MINUTES = 30 * 60 * 1000
        const ONE_HOUR = 1 * 60 * 60 * 1000;
        const EIGHT_HOURS = 8 * 60 * 60 * 1000;

        openmct.setAssetPath('openmct');
        openmct.install(openmct.plugins.Espresso());
        openmct.install(openmct.plugins.MyItems());
        openmct.install(openmct.plugins.LocalStorage());
        openmct.install(openmct.plugins.Generator());
        openmct.install(openmct.plugins.UTCTimeSystem());
        openmct.install(openmct.plugins.LocalTimeSystem());
        openmct.install(openmct.plugins.AutoflowView({
            type: "telemetry.panel"
        }));
        openmct.install(openmct.plugins.Conductor({
            menuOptions: [
                {
                    name: "Realtime UTC",
                    timeSystem: 'utc',
                    clock: 'local',
                    clockOffsets: { start: - THIRTY_MINUTES, end: 0 }
                },
                {
                    name: "Fixed UTC",
                    timeSystem: 'utc',
                    bounds: {
                        start: Date.now() - THIRTY_MINUTES,
                        end: Date.now()
                    }
                }
            ]
        }));
        openmct.install(openmct.plugins.Notebook());
        openmct.install(openmct.plugins.LADTable());
        //openmct.install(openmct.plugins.ObjectMigration());
        openmct.install(openmct.plugins.SummaryWidget());
        openmct.install(openmct.plugins.Filters(['table', 'telemetry.plot.overlay']));
        openmct.install(openmct.plugins.ClearData(['table', 'telemetry.plot.overlay', 'telemetry.plot.stacked']));
        //openmct.install(openmct.plugins.WebPage());

        // BEGIN User defined plugin(s)
        <% if (locals.plugins) { %>
        <% for (var plugin in plugins) { %>
        <% if (plugins[plugin].client) { %>openmct.install(<%= plugin %>());<% } %>
        <% } %>
        <% } %>
        // END

        openmct.start();
    </script>
</body>
</html>